<h1>All Ingredients</h1>
<% @ingredients.each do |ingredient| %>
  <div><%= link_to ingredient.name, ingredient_path(ingredient) %></div>
<% end %>

<h1>Add a new ingredient</h1>

  <div class="col-xs-6">
<%= simple_form_for(@ingredient) do |f| %>
    <%= f.input :name %>
    <%= f.submit class:"btn btn-primary"%>
<% end %>
  </div>

